body {
  display: grid;
  grid-auto-rows: 60% 300% 48%;
  gap: 10px;
  padding: 10px;
}

header {
  grid-column: 1 / 10;
}

aside {
  grid-column: 9 / 10;
  grid-row: 2 / 4;
}

nav {
  grid-column: 7 / 9;
  grid-row: 2 / 4;
}

article {
  grid-column: 1 / 7;
}

footer {
  grid-column: 1 / 7;
}

header, article, nav, aside, footer {
  padding-left: 1em;
  padding-top: 1em;
}